.inputSection{
    margin-top: 20px;
}

.inputSection input{
    width: 350px;
    height: 25px;
}

.previewbox{
    width: 400px;
    margin: 0 auto;
    padding-top: 15px;
}

.imgbox{
    width: 360px;
}

.title a{
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.desc{
    font-size: 12px;
}

.host a{
    font-size: 10px;
    color: grey;
    text-transform: uppercase;
    text-decoration: none;
}